.container {
  display: flex;
}

.heroBanner {
  background: center bottom no-repeat url('@site/static/img/background.jpg')
    #020a2e;
  background-size: auto 100%;
  color: #fff;
  flex: 1 auto;
  padding: 4rem 0;
  position: relative;
  text-align: center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
