@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.preview {
  background-color: var(--ifm-color-secondary-light);
  border-radius: inherit;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  font-size: 0;
  overflow: hidden;
  width: 30%;
}

@media screen and (max-width: 600px) {
  .preview {
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: auto;
  }
}

.preview > img {
  cursor: pointer;
  height: 100%;
  object-fit: cover;
}

.overlay {
  align-items: center;
  animation: fadeIn 0.4s;
  background-color: rgba(240, 240, 240, 0.9);
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 2%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

[data-theme='dark'] .overlay {
  background-color: rgba(27, 27, 29, 0.9);
}

[data-theme='dark'] .overlay button {
  background-color: rgba(50, 50, 50, 0.8);
  color: #fafafa;
}

.overlay button {
  align-items: center;
  background-color: rgba(220, 220, 220, 0.8);
  border: none;
  border-radius: 4px;
  color: #555;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.5rem;
  height: 40px;
  justify-content: center;
  line-height: 0;
  padding: 0 1rem;
  position: absolute;
  width: 40px;
}

.overlay img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.loader {
  left: calc(50% - 40px);
  position: absolute;
  top: calc(50% - 40px);
}

.next {
  right: 20px;
  top: 50%;
}

.prev {
  left: 20px;
  top: 50%;
}

.close {
  right: 20px;
  top: 20px;
}
