.container {
  border-radius: inherit;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}

.content {
  flex: 1;
  padding: var(--ifm-pre-padding);
}

.contentNoPadding {
  flex: 1;
}

.contentNoPadding:nth-child(2) {
  padding-left: var(--ifm-pre-padding);
}

.links {
  display: flex;
}

.price {
  margin: var(--ifm-pre-padding) 0;
}

.title {
  font-weight: normal;
}
