/* colors */
:root {
  --ifm-color-primary: #074aa8;
  --ifm-color-primary-dark: #023d9f;
  --ifm-color-primary-darker: #00369b;
  --ifm-color-primary-darkest: #00228e;
  --ifm-color-primary-light: #0c57b1;
  --ifm-color-primary-lighter: #0e5eb5;
  --ifm-color-primary-lightest: #1572c2;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --ifm-color-primary: #0087f3;
  --ifm-color-primary-dark: #007aea;
  --ifm-color-primary-darker: #0073e6;
  --ifm-color-primary-darkest: #005fd9;
  --ifm-color-primary-light: #0594fc;
  --ifm-color-primary-lighter: #079bff;
  --ifm-color-primary-lightest: #0eafff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
/* colors-end */

iframe {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.index-pattern {
  background: url(/img/index-pattern.png) repeat-x;
  height: 50px;
  margin-bottom: 1em;
}

.hidden {
  display: none !important;
}

.navbar-sidebar__to-guide {
  padding: 0.3rem 0.6rem;
}
.navbar-sidebar__to-guide a {
  color: ButtonText;
}

.medium-zoom-image {
  z-index: 200;
}
.medium-zoom-overlay {
  z-index: 200;
}

.medium-zoom-image--opened {
  object-fit: contain;
}

.markdown h1:first-child {
  --ifm-h1-font-size: 2rem;
}

.markdown > h2 {
  --ifm-h2-font-size: 1.6rem;
}

.markdown > h3 {
  --ifm-h3-font-size: 1.2rem;
}

.markdown label {
  display: block;
  font-size: 90%;
  margin: -5px 0 var(--ifm-leading);
  text-align: center;
}

img[alt='Оплата социального налога на самозанятого'] {
  width: 400px;
}
