/* colors */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
}

[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --ifm-navbar-search-input-icon: url('data:image/svg+xml;utf8,<svg fill="%23ebedf0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="16px" width="16px"><path d="M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609,0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021,0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338,4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z" /></svg>');
}
/* colors-end */

iframe {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.hidden {
  display: none !important;
}

.navbar {
  background: url(/img/navbar.jpg);
  background-size: auto 50%;
}
html[data-theme='dark'] .navbar {
  background: url(/img/navbar-dark.jpg);
  background-size: auto 50%;
}
.navbar__inner {
  background-color: rgba(255, 255, 255, 0.93);
  border-radius: 4px;
  padding: 0 0.6rem;
}
html[data-theme='dark'] .navbar__inner {
  background-color: rgba(36, 37, 38, 0.93);
}
.navbar-sidebar__to-guide {
  padding: 0.3rem 0.6rem;
}
.navbar-sidebar__to-guide a {
  color: ButtonText;
}
@media (max-width: 996px) {
  .navbar__items--right>:last-child {
    right: auto;
  }
}

.medium-zoom-image {
  z-index: 200;
}
.medium-zoom-overlay {
  z-index: 200;
}

.medium-zoom-image--opened {
  object-fit: contain;
}

.markdown h1:first-child {
  --ifm-h1-font-size: 2rem;
}

.markdown > h2 {
  --ifm-h2-font-size: 1.6rem;
}

.markdown > h3 {
  --ifm-h3-font-size: 1.2rem;
}

.markdown label {
  display: block;
  font-size: 90%;
  margin: -5px 0 var(--ifm-leading);
  text-align: center;
}

img[alt='Оплата социального налога на самозанятого'] {
  width: 400px;
}
